#welcome{
    background: orange;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    display: inline-block;
}

#johncena{
    background: blue;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    position: absolute;
    display: inline-block;
    margin-left: 0.5em;
}

#spec{
    display: none;
}

#overlay{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#overlay img{
    text-align: center;
    height: 50%;
    width: 50%;
    margin-top: 20%;
}

.basictext{
    margin-top: 15%;
    width: 500px;
    background: orange;
    border-radius: 5px;
    height: 30px;
    position: fixed;
    display: block;
    text-align: center;
    font-family: Arial;
}

.basictext > p{
    margin-top: 8px;
}

html{
    background-color: black;
}

.text{
    font-family: Helvetica;
    color: white;
}

#basicimg img{
    width: 200px;
}
#basicimg{
    margin-left: 50px;
}

#intro{
    height: 65px;
    width: 720px;
    margin-top: 100px;
    margin-left: 70px;
    font-size: 50px;
}

#test{
    margin-top: -30px;
    font-size: 30px;
    margin-left: 180px;
}

.slide-left {
    width:100%;
}
.slide-left p {
    animation: slide-left 2s;
}

.slide-slow {
    width: 100%;
}

.slide-slow p{
    animation: slide-left 3s;
}

@keyframes slide-slow{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#mover{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mover p{
    border-top: 50px;
    font-family: Helvetica;
    color: white;
    border-left: 5px;
    border-right: 5px;

}