#welcome{
    background: orange;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    display: inline-block;
}

#johncena{
    background: blue;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    position: absolute;
    display: inline-block;
    margin-left: 0.5em;
}

#spec{
    display: none;
}

#overlay{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#overlay img{
    text-align: center;
    height: 50%;
    width: 50%;
    margin-top: 20%;
}